# Python
__pycache__/
.pytest_cache/
.venv/
venv/
env/
*.pyc
*.pyo
*.pyd

# Env files
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# Logs
logs/
*.log

# Docker / local data
postgres_data/
cowrie_var/
cowrie_etc/

# Misc
*.sqlite3
*.tmp
*.swp
tmp/
temp/
